body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #122436;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: fit-content;
    border: 2px rgb(173, 138, 9) solid;
    border-radius: 5%;
}

h1 {
    color: orange;
    font-size: 2.5rem;
}

li {
    color: white;
    font-weight: 700;
}

.delete {
    margin-left: 1rem;
}

#task-btn {
    background-color: orange;
    color: white;
    height: 2.4rem;
    width: 6rem;
    border-radius: 20px;
    border: 2px white solid;
}
#task-btn:hover {
    background-color: green;
    cursor: pointer;
}

input {
  all: unset;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  color: white;
}

.list-item {
    margin-top: 5px;
    padding: 5px;
}